<@- include(
  'include/_css_header.ejs',
  {
    data: {
      title: "<%= title %>"",
      "<%= fileName %>.css"
      css: [
        <@ for (var i = 0; i < css.length; i++) { @>
          "<%= css[i] %>.css"
        <@ } @>
      ]
    }
  }
); @>
<body >
    <div id="app" class="<%= fileName %>" v-cloak>
      <!-- to do -->
    </div>
</body>
<@- include('include/_footer.ejs',{data:{main:"<%= js %>"}}); @>